<%- include('partials/nav.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            height: 1000px;
            /* border: 1px solid red; */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 style="text-align: center; font-size: 200px;">404</h1>
    </div>
    <h1 style="text-align: center;">Page Not Found</h1>
    <img src="/images/istockphoto-1067394416-612x612.jpg" alt="" width="100%"><br>
    <%- include('partials/footer.ejs') %>
</body>
</html>